body{
    margin:0;
   // text-align: center;
   // background-color: lightblue;
   /* #layout-main{
        height:100%;
    }*/
    background-image: linear-gradient(to right, rgba(255,0,0,0.15), rgba(255,0,500,0.35));
}